<!DOCTYPE html>
<html>
<head>
	<title>NHL Stats JSON Angular test</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Exo+2|Play|Titillium+Web:700" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/circliful/1.0.4/css/jquery.circliful.min.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
	
<body ng-app="myApp" ng-controller="NHLDataCtrl">
	
	
	
	
	<!-- HEADER -->
	<section id="header" class="section">
		<header>
			<div class="bigHeaderText">
				<h1>NHL Fanatics App</h1>
			</div>
			<div ng-repeat="club in myPlayersData | filter : teams">
				<div id="logoLeft" class="teamLogo">
					<img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{club.id}}-light.svg"/>
				</div>
				<div id="logoRight" class="teamLogo">
					<img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{club.id}}-light.svg"/>
				</div>
			</div>
		</header>
	</section>

	<section class="section teamPick">
		<select class="sel" ng-model="teams.abbreviation" ng-options="abbreviation.pick as abbreviation.display for abbreviation in teamPicker | orderBy: 'display'" ng-init="teams.abbreviation ='ANA'">
		</select>
	</section>
	
	<!-- TEAM INTRO -->
	<section id="team-intro" class="section">
		<div id="intro" class="club" ng-repeat="club in myPlayersData | filter : teams" ng-class="club.abbreviation">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<h2>{{club.name}}</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	
	
	
	<!-- ROSTER -->
	<section id="roster" class="section">
			<div id="roster" class="club NHLDataContent" ng-repeat="club in myPlayersData | filter : teams" ng-class="club.abbreviation">
				<div class="container-fluid">
					<div class="filters">
						<div id="haku">
							<span id="hakuikoni" class="icon"><i class="fa fa-search"></i></span>
							<input type="search" id="hakukentta" placeholder="Search for player..." ng-model="playerSearch"/>
						</div><br/>
						<select class="sel" ng-model="typeFilter" ng-options="type as type for type in types">
							<option value="">All Positions</option>
						</select>
						<select class="sel" ng-model="posFilter" ng-options="name as name for name in positions">
							<option value="">Forward Type</option>
						</select>
						<select class="sel" ng-model="countryFilter" ng-options="nationality as nationality for nationality in countries">
							<option value="">Nationality</option>
						</select>
					</div>	
					<h2>Team Roster</h2>
					<div class="playerProfile row">
							<div class="club singlePlayer col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="players in club.roster.roster | filter : (!!posFilter || undefined) && posFilter | filter : (!!typeFilter || undefined) && typeFilter | filter : (!!countryFilter || undefined) && countryFilter | filter : playerSearch | orderBy : 'person.lastName'">
										<div ng-repeat="a in players.person.stats">
											<div ng-repeat="b in a.splits">
													<div class="beforeStatsTable">
														<h3>{{ players.person.fullName }}</h3>
														<div class="club playerPicture">
															<img src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{players.person.id}}.jpg"/>
															<span class="club jerseyNumber" ng-class="club.abbreviation"><p> {{players.jerseyNumber}} </p></span>
															<span class="club captain" ng-if="players.person.captain == true" ng-class="club.abbreviation"><p> C </p></span>
															<span class="club captain" ng-if="players.person.alternateCaptain == true" ng-class="club.abbreviation"><p> A </p></span>
														</div>
														<table class="table playerStrengths">
															<tbody>
																<tr>
																	<td class="star inFlames" id="eliteSuperStarF" ng-if="b.stat.points / b.stat.games >= 0.95 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" id="eliteSuperStarD" ng-if="b.stat.points / b.stat.games >= 0.75 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" id="SuperStarF" ng-if="b.stat.points / b.stat.games >= 0.75 && b.stat.points / b.stat.games < 0.95 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" id="SuperStarD" ng-if="b.stat.points / b.stat.games >= 0.50 && b.stat.points / b.stat.games < 0.75 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.points / b.stat.games >= 0.50 && b.stat.points / b.stat.games < 0.75 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.points / b.stat.games >= 0.30 && b.stat.points / b.stat.games < 0.5 && b.stat.games >= 40 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.points / b.stat.games >= 0.50 && b.stat.points / b.stat.games < 0.95 && b.stat.games >= 25 && b.stat.games < 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.points / b.stat.games >= 0.30 && b.stat.points / b.stat.games < 0.75 && b.stat.games >= 25 && b.stat.games < 40 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="basic inFlames" ng-if="(b.stat.points / b.stat.games < 0.5 && players.person.primaryPosition.type == 'Forward') || (b.stat.games < 25 && players.person.primaryPosition.type == 'Forward')">
																		<i class="fa fa-check fa-2x"></i>
																	</td>
																	<td class="basic inFlames" ng-if="(b.stat.points / b.stat.games < 0.3 && players.person.primaryPosition.type == 'Defenseman') || (b.stat.games < 25 && players.person.primaryPosition.type == 'Defenseman')">
																		<i class="fa fa-check fa-2x"></i>
																	</td>
																	<td class="star inFlames" id="eliteSuperStarG" ng-if="b.stat.savePercentage >= 0.925 && b.stat.games >= 30 &&  players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.savePercentage >= 0.925 && b.stat.games >= 15 && b.stat.games < 30 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.savePercentage >= 0.917 && b.stat.savePercentage < 0.925 && b.stat.games >= 30 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-star fa-2x"></i>
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" ng-if="b.stat.savePercentage >= 0.917 && b.stat.savePercentage < 0.925 && b.stat.games < 30 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="star inFlames" id="starG" ng-if="b.stat.savePercentage >= 0.905 && b.stat.savePercentage < 0.917 && b.stat.games >= 15 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-star fa-2x"></i>
																	</td>
																	<td class="basic inFlames" id="basicG" ng-if="b.stat.savePercentage < 0.905 || b.stat.games < 15 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-check fa-2x"></i>
																	</td>
																	<td class="sniper inFlames" id="sniperF" ng-if="b.stat.goals >= 30 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-bullseye fa-2x"></i>
																	</td>
																	<td class="sniper inFlames" id="sniperD" ng-if="b.stat.goals >= 13 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-bullseye fa-2x"></i>
																	</td>
																	<td class="playmaker inFlames" id="playmakerF" ng-if="b.stat.assists >= 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-magic fa-2x"></i>
																	</td>
																	<td class="playmaker inFlames" id="playmakerD" ng-if="b.stat.assists >= 28 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-magic fa-2x"></i>
																	</td>
																	<td class="twoway inFlames" id="twoWayF" ng-if="b.stat.plusMinus >= -1 && b.stat.pim <= 45 && b.stat.points >= 35 && b.stat.shortHandedTimeOnIcePerGame >= '01:20' || b.stat.plusMinus >= 25">
																		<i class="fa fa-balance-scale fa-2x"></i>
																	</td>
																	<td class="hitter inFlames" id="hitter" ng-if="b.stat.hits >= 133">
																		<i class="fa fa-bomb fa-2x"></i>
																	</td>
																	<td class="def inFlames" id="defender" ng-if="b.stat.plusMinus >= -5 && players.person.primaryPosition.type == 'Defenseman' && b.stat.blocked >= 100">
																		<i class="fa fa-shield fa-2x"></i>
																	</td>
																	<td class="hardworker inFlames" id="hardWorker" ng-if="b.stat.timeOnIcePerGame >= '23:00' && players.person.primaryPosition.type != 'Goalie'">
																		<i class="fa fa-plug fa-2x"></i>
																	</td>
																	<td class="gem inFlames" id="youngStarF" ng-if="players.person.currentAge <= 23 && b.stat.points >= 40 && players.person.primaryPosition.type == 'Forward'">
																		<i class="fa fa-diamond fa-2x"></i>
																	</td>
																	<td class="gem inFlames" id="youngStarG" ng-if="players.person.currentAge <= 23 && b.stat.savePercentage >= 0.93 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-diamond fa-2x"></i>
																	</td>
																	<td class="gem inFlames" id="youngStarD" ng-if="players.person.currentAge <= 23 && b.stat.plusMinus >= -5 && b.stat.points >= 20 && players.person.primaryPosition.type == 'Defenseman'">
																		<i class="fa fa-diamond fa-2x"></i>
																	</td>
																	<td class="magnet inFlames" ng-if="b.stat.shutouts >= 5 && players.person.primaryPosition.type == 'Goalie'">
																		<i class="fa fa-lock fa-2x"></i>
																	</td>
																	<td class="winner inFlames" id="winner" ng-if="b.stat.gameWinningGoals >= 10 || b.stat.overTimeGoals >= 2 || b.stat.shortHandedGoals >= 5">
																		<i class="fa fa-heart fa-2x"></i>
																	</td>
																	<td class="penalties inFlames" id="penalties" ng-if="b.stat.pim >= 70">
																		<i class="fa fa-inbox fa-2x"></i>
																	</td>
																</tr>
															</tbody>	
														</table>
														<div class="personalInfo col-xl-12">
															<p class="info"><span>{{ players.person.primaryPosition.type }}</span><span ng-if="players.person.primaryPosition.type == 'Forward'"> | </span><span ng-if="players.person.primaryPosition.type == 'Forward'">{{ players.person.primaryPosition.abbreviation }}</span></p>
															<p class="info"><span>Age</span><span> | </span><span>{{ players.person.currentAge }}</span></p>
															<p class="info"><span>Nationality</span><span> | </span><span>{{ players.person.nationality }}</span></p>
															<p class="info"><span>Size</span><span> | </span><span>{{ players.person.height }}</span><span> | </span><span>{{ players.person.weight }} lb</span></p>
															<p class="info"><span>Shoots</span><span> | </span><span>{{ players.person.shootsCatches }}</span></p>
														</div>
													</div>
													<table class="table-stats table">
														<tbody ng-if="players.person.primaryPosition.type == 'Forward' && players.person.primaryPosition.name == 'Center'">
															<tr>
																<th>Gm</th>
																<th>G</th>
																<th>A</th>
																<th>P</th>
																<th>+/-</th>
																<th>Hits</th>
																<th>FO%</th>
																<th>T/Gm</th>
															</tr>
															<tr>
																<td> {{ b.stat.games }} </td>
																<td> {{ b.stat.goals }} </td>
																<td> {{ b.stat.assists }} </td>
																<td> {{ b.stat.points }} </td>
																<td> {{ b.stat.plusMinus }} </td>
																<td> {{ b.stat.hits }} </td>
																<td> {{ b.stat.faceOffPct | number : 1 }} </td>
																<td> {{ b.stat.timeOnIcePerGame }} </td>
															</tr>
														</tbody>
														<tbody ng-if="players.person.primaryPosition.type == 'Forward' && players.person.primaryPosition.name != 'Center'">
															<tr>
																<th>Gms</th>
																<th>G</th>
																<th>A</th>
																<th>P</th>
																<th>+/-</th>
																<th>Hits</th>
																<th>T/Gm</th>
															</tr>
															<tr>
																<td> {{ b.stat.games }} </td>
																<td> {{ b.stat.goals }} </td>
																<td> {{ b.stat.assists }} </td>
																<td> {{ b.stat.points }} </td>
																<td> {{ b.stat.plusMinus }} </td>
																<td> {{ b.stat.hits }} </td>
																<td> {{ b.stat.timeOnIcePerGame }} </td>
															</tr>
														</tbody>
														<tbody ng-if="players.person.primaryPosition.type == 'Defenseman'">
															<tr>
																<th>Gms</th>
																<th>G</th>
																<th>A</th>
																<th>P</th>
																<th>+/-</th>
																<th>BL</th>
																<th>Hits</th>
																<th>T/Gm</th>
															</tr>
															<tr>
																<td> {{ b.stat.games }} </td>
																<td> {{ b.stat.goals }} </td>
																<td> {{ b.stat.assists }} </td>
																<td> {{ b.stat.points }} </td>
																<td> {{ b.stat.plusMinus }} </td>
																<td> {{ b.stat.blocked }} </td>
																<td> {{ b.stat.hits }} </td>
																<td> {{ b.stat.timeOnIcePerGame }} </td>
															</tr>
														</tbody>
														<tbody ng-if="players.person.primaryPosition.type == 'Goalie'">
															<tr>
																<th>Gms</th>
																<th>W</th>
																<th>L</th>
																<th>OT</th>
																<th>Sv%</th>
																<th>GA/Gm</th>
																<th>SO</th>
															</tr>
															<tr>
																<td> {{ b.stat.games }} </td>
																<td> {{ b.stat.wins }} </td>
																<td> {{ b.stat.losses }} </td>
																<td> {{ b.stat.ot }} </td>
																<td> {{ b.stat.savePercentage * 100 | number : 1}}</td>
																<td> {{ b.stat.goalAgainstAverage }} </td>
																<td> {{ b.stat.shutouts }} </td>
															</tr>
														</tbody>													
													</table>
											</div>
										</div>	
							</div>
					</div>
				</div>
			</div>
	</section>
	
	
	<!-- PLAYERS RATINGS ICONS INFO -->
	<section class="section">
				<div class="container-fluid">
					<div class="row playerRatingsInfo">
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="club infoColumn" ng-class="club.abbreviation">
											<div class="infobox">
												<span>Elite Superstar</span><span> = </span>
												<i class="fa fa-star fa-2x"></i>
												<i class="fa fa-star fa-2x"></i>
												<i class="fa fa-star fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Superstar</span><span> = </span>
												<i class="fa fa-star fa-2x"></i>
												<i class="fa fa-star fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Star</span><span> = </span>
												<i class="fa fa-star fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Earns spot in the roster</span><span> = </span>
												<i class="fa fa-check fa-2x"></i>
											</div>
											<div class="infobox">
												<span>( Based on point production )</span>
											</div>
									</div>
								</div >
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="infoColumn">
											<div class="infobox">
												<span>True Sniper</span><span> = </span>
												<i class="fa fa-bullseye fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Playmaker With Hands</span><span> = </span>
												<i class="fa fa-magic fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Two Way Game</span><span> = </span>
												<i class="fa fa-balance-scale fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Hard Hitter</span><span> = </span>
												<i class="fa fa-bomb fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Shutout master</span><span> = </span>
												<i class="fa fa-lock fa-2x"></i>
											</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="infoColumn">
											<div class="infobox">
												<span>Great Defense</span><span> = </span>
												<i class="fa fa-shield fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Winner and Teams Spirit</span><span> = </span>
												<i class="fa fa-heart fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Plays High Minutes</span><span> = </span>
												<i class="fa fa-plug fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Potential Young Star</span><span> = </span>
												<i class="fa fa-diamond fa-2x"></i>
											</div>
											<div class="infobox">
												<span>Lots of Penaltyminutes</span><span> = </span>
												<i class="fa fa-inbox fa-2x"></i>
											</div>
									</div>
								</div>
					</div>
				</div>
	</section>
	
	
	
	
	<!-- STANDINGS -->
	<section id="standings" class="section">
			<div id="standings" class="standings">
					<h2>Standings</h2>
					<div class="container-fluid">
						<div class="row">
							<div class="eastern col-xl-6 col-lg-12">
									<h3>Eastern Conference</h3><br/>
									<table id="metropolitan" class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Metropolitan</b></th><th class="smallScreen"><b>MET</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>DIFF</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Eastern' && club.standingsType == 'divisionLeaders' && club.division.name == 'Metropolitan'">
											<tr data-ng-repeat="r in club.teamRecords">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px"/></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>	
									</table><br/>
									<table id="atlantic" class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Atlantic</b></th><th class="smallScreen"><b>ATL</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>Diff</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Eastern' && club.standingsType == 'divisionLeaders' && club.division.name == 'Atlantic'">
											<tr data-ng-repeat="r in club.teamRecords">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px"/></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>	
									</table>
									<table class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Wild card</b></th><th class="smallScreen"><b>WC</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>Diff</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Eastern' && club.standingsType == 'wildCard'">
											<tr data-ng-repeat="r in club.teamRecords" ng-class="{new: r.wildCardRank == '2'}">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px"></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="western col-xl-6 col-lg-12">
									<h3>Western Conference</h3><br/>
									<table id="central" class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Central</b></th><th class="smallScreen"><b>CTL</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>Diff</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Western' && club.standingsType == 'divisionLeaders' && club.division.name == 'Central'">
											<tr data-ng-repeat="r in club.teamRecords">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px"/></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>	
									</table><br/>
									<table id="pacific" class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Pacific</b></th><th class="smallScreen"><b>PAC</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>Diff</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Western' && club.standingsType == 'divisionLeaders' && club.division.name == 'Pacific'">
											<tr data-ng-repeat="r in club.teamRecords">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px"></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away"data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>	
									</table>
									<table class="table">
										<thead>
											<tr>
													<th class="largeScreen"><b>Wild card</b></th><th class="smallScreen"><b>WC</b></th>
													<th><b>GP</b></th>
													<th><b>W</b></th>
													<th><b>L</b></th>
													<th><b>OT</b></th>
													<th><b>PTS</b></th>
													<th><b>Diff</b></th>
													<th class="home"><i class="fa fa-home fa-1x"></i></th>
													<th class="away"><i class="fa fa-plane fa-1x"></i></th>
													<th><b>STRK</b></th>
											</tr>
										</thead>
										<tbody data-ng-repeat="club in myStandingsData" ng-if="club.conference.name == 'Western' && club.standingsType == 'wildCard'">
											<tr data-ng-repeat="r in club.teamRecords" ng-class="{new: r.wildCardRank == '2'}">
													<td><span><img src="https://www-league.nhlstatic.com/builds/site-core/86d4b76cc03a4d111ee0e20f9f62eb054eef3b74_1502985652/images/logos/team/current/team-{{r.team.id}}-dark.svg" style="width:36px;height:36px;padding-right:5px"></span></td>
													<td>{{r.gamesPlayed}}</td>
													<td>{{r.leagueRecord.wins}}</td>
													<td>{{r.leagueRecord.losses}}</td>
													<td>{{r.leagueRecord.ot}}</td>
													<td>{{r.points}}</td>
													<td><span style="padding:0" ng-if="r.goalsScored - r.goalsAgainst > 0">+</span>{{r.goalsScored - r.goalsAgainst}}</td>
													<td class="home" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'home'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td class="away" data-ng-repeat="or in r.records.overallRecords" ng-if="or.type == 'away'"><span>{{or.wins}}</span><span> - </span><span>{{or.losses}}</span><span> - </span><span>{{or.ot}}</span></td>
													<td>{{r.streak.streakCode}}</td>
											</tr>
										</tbody>
									</table>
							</div>
						</div>
					</div>
			</div>
	</section>
	
	
	
					


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/myscripts.js"></script>

</body>
</html>