/*Variables*/



//colors
$mainColor1: #adadad;
$mainColor2: #474747;
$light_grey: #f3f3f3;
$white: #fff;
$black: #000;
$gold: #D4AF37;


//font-sizes
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 22px;
$p: 18px;

//header margins
$margin1: 30px;
$margin2: 50px;
$section_margin_top: 40px;
$section_margin_bottom: 30px;
$margin_statbox: 15px;
$mobile_margin: 15px;

//team colors
$ANA: #B5985A;
$ARI: #8C2633;
$BOS: #FCB514;
$BUF: #002654;
$CGY: #B72B35;
$CAR: #CC0000;
$CHI: #CF0A2C;
$COL: #6F263D;
$CBJ: #002654;
$DAL: #006847;
$DET: #CE1126;
$EDM: #041E41;
$FLA: #C8102E;
$LAK: #111111;
$MIN: #004F30;
$MTL: #AF1E2D;
$NSH: #FFB81C;
$NJD: #CE1126;
$NYI: #00468B;
$NYR: #0038A8;
$OTT: #E31837;
$PHI: #F74902;
$PIT: #FFB81C;
$STL: #002F87;
$SJS: #006D75;
$TBL: #002868;
$TOR: #003E7E;
$VAN: #001F5C;
$VGK: #B4975A;
$WSH: #CF0A2C;
$WPG: #041E41;


/*NHL team intro*/
.club {
	padding-bottom: 20px;
	.container-fluid{
		color: $white !important;
	}
}
.club.ANA {
	background-color: $ANA;
}
.club.ARI {
	background-color: $ARI;
}
.club.BOS {
	background-color: $BOS;
	.container-fluid {
		color: $black !important;
	}
}
.club.BUF {
	background-color: $BUF;
}
.club.CGY {
	background-color: $CGY;
}
.club.CAR {
	background-color: $CAR;
}
.club.CHI {
	background-color: $CHI;
}
.club.COL {
	background-color: $COL;
}
.club.CBJ {
	background-color: $CBJ;
}
.club.DAL {
	background-color: $DAL;
}
.club.DET {
	background-color: $DET;
}
.club.EDM {
	background-color: $EDM;
}
.club.FLA {
	background-color: $FLA;
}
.club.LAK {
	background-color: $LAK;
}
.club.MIN {
	background-color: $MIN;
}
.club.MTL {
	background-color: $MTL;
}
.club.NSH {
	background-color: $NSH;
	.container-fluid {
		color: $black !important;
	}
}
.club.NJD {
	background-color: $NJD;
}
.club.NYI {
	background-color: $NYI;
}
.club.NYR {
	background-color: $NYR;
}
.club.OTT {
	background-color: $OTT;
}
.club.PHI {
	background-color: $PHI;
}
.club.PIT {
	background-color: $PIT;
	.container-fluid {
		color: $black !important;
	}
}
.club.STL {
	background-color: $STL;
}
.club.SJS {
	background-color: $SJS;
}
.club.TBL {
	background-color: $TBL;
}
.club.TOR {
	background-color: $TOR;
}
.club.VAN {
	background-color: $VAN;
}
.club.VGK {
	background-color: $VGK;
}
.club.WSH {
	background-color: $WSH;
}
.club.WPG {
	background-color: $WPG;
}







/*Basic elements*/
body {
  text-align: center;
  margin: 0 auto;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
  font-size: $h3;
  padding-top: $margin1;
  padding-bottom: 10px;
}

h4 {
  font-size: $h4;
}

p{
  font-size: $p;
  line-height: 1em;
}

.container-fluid{
	width: 100%;
}


/*Header*/
header{
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $black;
	color: $white;
	.bigHeaderText {
		vertical-align: middle;
	}
	.teamLogo {
		position: absolute;
		top: 50px;
		bottom: 50px;
	}
	#logoLeft {
		left: 20px;
	}
	#logoRight {
		right: 20px;
	}
	.teamLogo img{
		width: 150px;
		height: 150px;
	}
}

.section {
 
}

#header {

}

#roster {
	h2 {
		padding-top: $margin1;
	}
}



/*NHL players data*/
.NHLDataContent {
	background-color: $light_grey;
	.container-fluid {
		color: $mainColor2;
		padding-top: $margin1;
		.playerProfile {
			.singlePlayer {
			  color: $white;
			  background-color: $mainColor2;
			  padding-left: 10px;
			  padding-right: 10px;
			  padding-bottom: 20px;
			  border: 5px solid $light_grey;
					.beforeStatsTable {
						padding-top: 10px;
						.playerStrengths {						
								margin: 0 auto;
								tr {
									height: 48px;
									
								}
						}
					}
			  .personalInfo {
				padding-top: 30px;
				padding-bottom: 30px;
			  }
			  .table tr {
				width: 100%;
				font-size: 14px;
			  }
			  .table tr th, table tr td {
				background-color: $black;
				color: $gold;
				border: 1px solid $mainColor2;
				text-shadow: 0 0 1px $mainColor1;
			  }
			  .playerPicture {
				padding-top: 15px;
			  }
			  .playerPicture img{
				width: 180px;
				height: 180px;
			  }
			  .jerseyNumber{
				color: $white; 
			  }
			}
		}
		.filters {
			padding-bottom: $margin1;
			.sel {
				border: none;
				box-shadow: 0 0 7px 1px $mainColor2;
			}
		}
	}
} 



.fa {
	font-size: 24px;
}

.playerRatingsInfo {
	padding-top: 15px;
	padding-bottom: 30px;
	.infoColumn {
		display: inline-block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		.infobox {
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: $white;
			.fa {
				color: $black;
			}
		}
		.infobox:first-child {
			padding-top: 30px;
		}
		.infobox:last-child {
			padding-bottom: 30px;
		}
	}
	h4 {
		padding-bottom: 15px;
	}
}


  
#haku {
	  position: relative;
	  width: 100%;
	  height: 50px;
	  margin: 0 auto;
	  border: none;
	  margin-top: $margin1;
}
#haku #hakukentta {
	  width: 300px;
	  height: 50px;
	  border: none;
	  font-size: 14px;
	  background-color: $white;
	  color: $mainColor2;
	  padding-left: 60px;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  box-shadow: 0 0 7px 1px $mainColor2; 
}
#haku #hakukentta::-webkit-input-placeholder {
	  color: $mainColor2; 
}
#haku #hakukentta:-moz-placeholder {
	  /* Firefox 18- */
	  color: $black; 
}
#haku #hakukentta::-moz-placeholder {
	  /* Firefox 19+ */
	  color: $mainColor2; 
}
#haku #hakukentta:-ms-input-placeholder {
	  color: $black; 
}
#haku .icon {
	  position: absolute;
	  font-size: 18px;
	  bottom: 12px;
	  margin-left: 20px;
	  margin-right: 20px;
	  z-index: 1;
	  color: $mainColor2; 
}



@media only screen and (max-width: 767.98px) {
	header {
		padding-top: 20px;
		padding-bottom: 30px;
		.teamLogo {
			position: relative;
			left: 0;
			right: 0;
			padding-top: 30px;
			padding-bottom: 20px;
		}
		.teamLogo img{
			width: 200px;
			height: 200px;
		}
		#logoLeft {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		#logoRight {
			display: none;
		}
	}
	#intro {
		
	}
}


@media only screen and (max-width: 576.98px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 18px;
	}
	p {
		font-size: 16px;
	}
	header {
		.teamLogo {
		
		}
		.teamLogo img{
			
		}
		#logoLeft {
			
		}
	}
}

@media only screen and (max-width: 480px) {
	header {
		.NHLDataContent .teamStats {
			.statbox {
				height: unset;
				border-left: 15px $white solid;
				border-right: 15px $white solid;
			}
		}
		h1,h2,h3,h4,p {
			padding-left: $mobile_margin;
			padding-right: $mobile_margin;
		}
		.bigHeaderText {
			
		}
	}
}

@media only screen and (max-width: 320px) {
	header {
		.teamLogo {
			
		}
		.teamLogo img{
			
		}
		#logoLeft {
			
		}
	}
}